.about_container{
    height: 100vh;
    width: 100%;
    padding: 0 50px;
    .divider_line{
        display: flex;
        align-items: center;
        gap: 1rem;
        .left_border{
            width: 20%;
            border-bottom: 1px solid #bd3b22;
        }
        .content{
            color: white;
            font-size: 38px;
            font-weight: bold;

        }
        .right_border{
            width: 80%;
            border-bottom: 1px solid #bd3b22;
        }
    }
    
}
.flex_about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .skils_container{
        width: 100%;
        border: 2px solid rgb(175, 19, 19);
    }
    .image_container{
        border: 2px solid rgb(16, 236, 90);
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

    }
}