.home_container {
    height: 85vh;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    @media screen and (max-width:"1120px") {
        height: 70vh;
        align-items: center;
    }
    @media screen and (max-width:"990px") {
        padding: 0 40px;
      }
    @media screen and (max-width:"790px") {
        padding: 0 30px;
      }
    @media screen and (max-width:"600px") {
        padding: 0 20px;
      }
    .bio_data {
        padding: 0 3rem 0 0;
        padding-top: 6rem;
        width: 70%;
        display: flex;
        gap: .5rem;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width:"1120px") {
            padding: 0;
        }

        .name {
            font-size: 38px;
            color: #bd3b22;
            margin-bottom: -10px;
            @media screen and (max-width:"790px") {
                font-size: 30px;
              }
            @media screen and (max-width:"600px") {
                font-size: 25px;
              }
        }

        .bio {
            font-size: 30px;
            @media screen and (max-width:"790px") {
                font-size: 25px;
              }
            @media screen and (max-width:"600px") {
                font-size: 20px;
              }

        }

        h5 {

            font-size: 17px;
            margin-bottom: -12px;
            @media screen and (max-width:"790px") {
                font-size: 15px;
              }
            @media screen and (max-width:"790px") {
                font-size: 13px;
              }
        }

        p {
            font-size: 20px;
            text-align: center;
            @media screen and (max-width:"790px") {
                font-size: 17px;
              }
            @media screen and (max-width:"600px") {
                font-size: 15px;
              }
        }

        @media screen and (max-width:"1120px") {
            width: 100%;

        }

        .home_btns {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            .MuiButtonBase-root:hover {
                border: 1px solid #bd3b22;
                background-color: rgba(189, 59, 34, 0.04);
            }

            .touch {
                color: #bd3b22;
                opacity: 0.9;
                border: 1px solid rgba(189, 59, 34, 0.5);

                &:hover {
                    opacity: 1;
                }
            
                
        }
    }

    .bio_animation {
        width: 30%;
        position: relative;
        margin-top: -60px;

        @media screen and (max-width:"1120px") {
            display: none;

            
        }
    }

    .black_box {
        height: 10%;
        width: 50%;
        background-color: black;
        position: absolute;
        bottom: 0;
        right: 0;

        @media screen and (max-width:"1400px") {
            width: 38%;
        }

    }


    
}
}