.nav_container {
  width: 100%;
  padding: 0 50px;
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width:"990px") {
    padding: 0 40px;
  }

  @media screen and (max-width:"790px") {
    padding: 0 30px;
  }

  @media screen and (max-width:"600px") {
    padding: 5px 20px;
  }

  .logo {
    color: white;
    font-size: 30px;

    @media screen and (max-width:"990px") {
      font-size: 25px;
    }

    @media screen and (max-width:"790px") {
      font-size: 20px;
    }
  }

  .menu_list {
    display: flex;

    .web_menu {
      display: flex;

      @media screen and (max-width:"990px") {
        display: none;
      }

      a {
        color: white;
        padding: 0px 20px;
      }

    }

    .mobile_menu {
      display: none;

      @media screen and (max-width:"990px") {
        display: block;
      }
    }

  }


}
// ************ Mobile Menu *******
.main{
  height: 100vh;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  .logo{
    padding: 20px 20px;
  }
  .nav{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    gap: 3rem;
    border-top: 1px solid white;
    padding-top: 4rem;
    .mobile_icon{
      display: flex;
      gap: .4rem;
      div{
        font-size: 18px;
      }
    }
  }
}