.nav_container{
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    @media screen and (max-width:"990px") {
        padding: 0 40px;
      }
    @media screen and (max-width:"790px") {
        padding: 0 30px;
      }
    @media screen and (max-width:"600px") {
        padding: 0 20px;
      }
    .logo{
        color: white;
        font-size: 35px;
        @media screen and (max-width:"990px") {
            font-size: 30px;
          }
        @media screen and (max-width:"790px") {
            font-size: 20px;
          }
        @media screen and (max-width:"600px") {
            font-size: 16px;
          }
    }
    .menu{
        display: block;
        @media screen and (max-width:"990px") {
          display: none;
        }
    }
    .menu a{
        color: white;
        padding: 0px 20px;
    }
    

}
