.nav_container{
    height: 85px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    .logo{
        color: white;
    }
    .menu a{
        color: white;
        padding: 0px 20px;
    }

}
