@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{

  --primary-color:#bd3b22;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

/* ********** Progress Bar ********** */
.MuiLinearProgress-root{
  height: 10px !important;
}
.MuiLinearProgress-root{
  position: relative;
  overflow: hidden;
  display: block;
  height: 15px;
  z-index: 0;
  background-color: transparent;
}
.MuiLinearProgress-bar1{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transform-origin: left;
  background-color: var(--primary-color) !important;
  z-index: 1;
}
.MuiLinearProgress-bar2 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transform-origin: left;
  background-color: white;
}